# Root-level ignores
node_modules/
.env
.DS_Store
Thumbs.db
*.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs/editors
.vscode/
.idea/
*.sw?

# Sublime
*.sublime-project
*.sublime-workspace

# Backend
/backend/node_modules/
/backend/.env
/backend/package-lock.json
/backend/.DS_Store

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/package-lock.json
/frontend/.DS_Store
